@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700&display=swap');
*{
    margin: 0;
    padding: 0;
}
body{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}
a{
    color: inherit;
    text-decoration: none;
}
:root{
    --light-color: #38b6ff;
    --white-color: #ffffff;
    --black-color: #000000;
    --purple-color: #8c52ff;
    --color-gray: rgba(255,255,255, 0.6);
}
#main{
    width: 70vw;
    height: 80vh;
    border-radius: 20px;
    box-shadow: 0 0px 20px rgba(0,0,0,0.19);
    display: flex;
    align-items: center;
    flex-direction: column;
    overflow: hidden;
}
#nav{
    width: 100%;
    height: 6vh;
    display: flex;
    align-items: center;
    flex-direction: row;
    font-family: 'Montserrat';
}
.web-title{
    flex: 0.6;
    box-sizing: border-box;
    padding: 0 5rem 0;
    font-size: 2rem;
    font-weight: 600;
    color:#38b6ff;
    /* letter-spacing: 2px; */
}
.navlinks{
    flex: 0.4;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    font-size: 1rem;
    color: var(--light-color);
    padding: 0 3rem 0 0;
}
.contact-card{
    height: 74vh;
    width: 100%;
    background-color: var(--light-color);
    display: flex;
    flex-direction: column;
}
.info-sec{
    height: 70vh;
    display: flex;
    flex-direction: row;
    box-sizing: border-box;
    padding: 3rem 2rem;
}
.sec1,
.sec2{
    flex: 1.1;
    display: flex;
    flex-direction: column;
    border-radius: 20px;
    overflow: hidden;
    box-sizing: border-box;
    padding: 0 7rem 0 3rem;
    font-family: 'Montserrat';
}
.sec2{
    padding: 0 !important;
    flex: 0.9 !important;
    background-color: var(--white-color) !important;
}
.footer{
    height: 4vh;
    background-color: var(--light-color);
    box-sizing: border-box;
    border-top: 1px solid rgba(255,255,255,0.3);
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Montserrat';
    color: var(--white-color);
}
.sec1 h1{
    color: var(--white-color);
    font-size: 3rem;
}
.sec1 h4{
    color: var(--color-gray);
    font-weight: 200;
    font-size: 1.2rem;
}
.contact-options{
    color: var(--white-color);
    margin-top: 5rem;
    font-size: 1.5rem;
    display: flex;
    flex-direction: column;
}
i.fa{
    margin-right: 1rem;
}
.option{
    display: flex;
    align-items: center;
    margin-top: 3rem;
}
.socials{
    margin-top: 5rem;
    font-size: 1.9rem;
    display: flex;
}
.social-option{
    color: var(--white-color);
    margin-right: 0.7em;
}
.social-option a{
    transition: all 150ms ease-out;
}
.social-option:hover a{
    color: var(--black-color);
}