@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700&display=swap');
*{
    margin: 0;
    padding: 0;
}
body{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}
a{
    color: inherit;
    text-decoration: none;
}
:root{
    --light-color: #38b6ff;
    --white-color: #ffffff;
    --black-color: #000000;
    --purple-color: #6d38ff;
    --color-gray: rgba(255,255,255, 0.6);
    --dark-purple-color: #5b2fd7;
    --flamingo-color: pink;
}
#main{
    width: 70vw;
    height: 80vh;
    border-radius: 20px;
    box-shadow: 0 0px 20px rgba(0,0,0,0.19);
    display: flex;
    align-items: center;
    flex-direction: column;
    overflow: hidden;
}
#nav{
    width: 100%;
    height: 6vh;
    display: flex;
    align-items: center;
    flex-direction: row;
    font-family: 'Montserrat';
    position: sticky;
    top: 0;
    z-index: 9999;
}
.web-title{
    flex: 0.7;
    box-sizing: border-box;
    padding: 0 5rem 0;
    font-size: 2rem;
    font-weight: 600;
    color: var(--purple-color);
    /* letter-spacing: 2px; */
}
.navlinks{
    flex: 0.3;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    font-size: 1rem;
    color: var(--purple-color);
    padding: 0 3rem 0 0;
}
.contact-card{
    height: 74vh;
    width: 100%;
    background-color: var(--purple-color);
    display: flex;
    flex-direction: column;
}
.info-sec{
    height: 70vh;
    display: flex;
    flex-direction: row;
    box-sizing: border-box;
    padding: 3rem 2rem;
}
.sec1,
.sec2{
    flex: 1;
    display: flex;
    flex-direction: column;
    border-radius: 20px;
    overflow: hidden;
    box-sizing: border-box;
    padding: 0 7rem 0 3rem;
    font-family: 'Montserrat';
}
.sec2{
    padding: 2rem 1rem !important;
    flex: 1 !important;
    background-color: var(--white-color) !important;
}
.footer{
    height: 4vh;
    background-color: var(--purple-color);
    box-sizing: border-box;
    border-top: 1px solid rgba(255,255,255,0.3);
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Montserrat';
    color: var(--white-color);
}
.sec1 h1{
    color: var(--white-color);
    font-size: 3rem;
}
.sec1 h4{
    color: var(--color-gray);
    font-weight: 200;
    font-size: 1.2rem;
}
.contact-options{
    color: var(--white-color);
    margin-top: 5rem;
    font-size: 1.3rem;
    display: flex;
    flex-direction: column;
}
i.fa{
    color: var(--flamingo-color);
    margin-right: 1rem;
    font-size: 2rem !important;
}
.option{
    display: flex;
    align-items: center;
    margin-top: 3rem;
}
.socials{
    margin-top: 5rem;
    font-size: 2.3rem;
    display: flex;
}
.social-option{
    width: 3rem;
    height: 3rem;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(0,0,0,0);
    color: var(--color-gray);
    margin-right: 0.7em;
    transition: background-color 500ms ease-out;
}
.social-option a{
    transition: all 500ms ease-out;
}
.social-option:hover a{
    color: var(--white-color);
}
.social-option:hover{
    background-color: var(--flamingo-color);
}
#contact-form{
    display: flex;
    flex-direction: column;
}
.name-section{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 1.5rem;
}
.name-section label{
    font-weight: 600;
    flex: 0.9;
    display: flex;
    flex-direction: column;
}
.name-section label input{
    margin-top: 0.7rem;
    width: 100%;
    outline: none;
    border: none;
    box-shadow: 0px 0px 10px rgba(0,0,0,0.19);
    font-size: 0.9rem;
    border-radius: 10px;
    box-sizing: border-box;
    padding: 0.5rem 1rem;
}
.name-section label:first-child input{
    width: 94% !important;
}
#contact-form label{
    font-weight: 600;
}
#contact-form > input, textarea{
    margin: 0.7rem 0 1.5rem;
    width: 100%;
    outline: none;
    border: none;
    box-shadow: 0px 0px 10px rgba(0,0,0,0.19);
    font-size: 0.9rem;
    border-radius: 10px;
    box-sizing: border-box;
    padding: 0.5rem 1rem;
}
textarea{
    resize: none;
    height: 7rem;
    font-family: 'Montserrat';
}
#contact-form button{
    width: fit-content;
    align-self: flex-end;
    background-color: var(--purple-color);
    color: var(--white-color);
    border: none;
    outline: none;
    padding: 0.6rem 1rem;
    font-size: 1rem;
    border-radius: 10px;
    transition: background-color 200ms ease-out;
}
#contact-form button:active{
    background-color: var(--dark-purple-color);
}
input{
    font-family: 'Montserrat';
}
@media screen and (max-width: 1160px) {
    #main{
        margin: 2rem 0;
    }
    #main, .contact-card, .info-sec, body{
        height: max-content;
    }
    .web-title{
        flex: 0.4;
        font-size: 1.5rem;
        padding: 0 1rem;
    }
    .navlinks{
        flex: 0.6;
        font-size: 1rem;
        padding: 0 3rem;
    }
    .info-sec{
        flex-direction: column;
    }
    .sec1, .sec2{
        margin-top: 3rem;
    }
}
@media screen and (max-width: 680px) {
    #main{
        width: 100%;
        border-radius: 0;
        margin: 0;
    }
    .navlinks{
        padding: 0;
    }
    .sec1 h1{
        font-size: 2rem;
    }
    .sec1 h4{
        font-size: 1rem;
    }
    .sec1, .sec2{
        padding: 0;
    }
    .info-sec{
        padding: 1rem 0.6rem;
    }
    .contact-options{
        margin-top: 1rem;
    }
    .option{
        margin-top: 2rem;
    }
    .footer{
        font-size: 0.7rem;
    }
    .contact-options{
        font-size: 1.05rem;
    }
    .socials, i.fa{
        font-size: 2rem;
    }
}